# ML Assigment

Vuyo Ncume 2095458 <br/>
Vhugala Mudau 2094007 <br/>
Amatullah Mthethwa 1870175 <br/>
Melissa Mmatshaka 2111308 <br/>
Rumbidzai Moyo 1856080

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import confusion_matrix

### The data:

In [3]:
data = pd.read_csv('heart_failure_clinical_records_dataset.csv')
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

### Splitting into training, validation and testing data

Note: 60% of the data is for training, 20% for validation and the rest for testing.

In [8]:
training_data = data.loc[0:179,]
training_data.tail()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
175,60.0,1,95,0,60,0,337000.0,1.0,138,1,1,146,0
176,69.0,0,1419,0,40,0,105000.0,1.0,135,1,1,147,0
177,49.0,1,69,0,50,0,132000.0,1.0,140,0,0,147,0
178,63.0,1,122,1,60,0,267000.0,1.2,145,1,0,147,0
179,55.0,0,835,0,40,0,279000.0,0.7,140,1,1,147,0

In [9]:
validation_data = data.loc[180:239,]
validation_data.tail()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
235,77.0,1,109,0,50,1,406000.00,1.10,137,1,0,209,0
236,75.0,0,119,0,50,1,248000.00,1.10,148,1,0,209,0
237,70.0,0,232,0,30,0,173000.00,1.20,132,1,0,210,0
238,65.0,1,720,1,40,0,257000.00,1.00,136,0,0,210,0
239,55.0,1,180,0,45,0,263358.03,1.18,137,1,1,211,0

In [14]:
testing_data = data.loc[240:298,]
testing_data.tail()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
294,62.0,0,61,1,38,1,155000.0,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.0,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.0,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.0,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.0,1.6,136,1,1,285,0