In [89]:
import numpy as np
import pandas as pd

# Data Preparation

In [76]:
# age preparation function
def create_age_groups(age):
    if age <= 50:
        return "Young"
    if 50 < age <= 60:
        return "Middle"
    if age > 60:
        return "Old"
    else:
        return "Unknown"
    
# creatine phosphokinase preparation function
def create_creatine_phosphokinase(creatine_phosphokinase):
    if creatine_phosphokinase <= 198:
        return "Normal"
    if 198 < creatine_phosphokinase <= 1000:
        return "High"
    if creatine_phosphokinase > 1000:
        return "Very high"
    else:
        return "Unknown"
    
# ejection fraction preparation function
def create_ejection_fraction(ejection_fraction):
    if ejection_fraction <= 40:
        return "Very_low"
    if 40 < ejection_fraction <= 50:
        return "low"
    if 50 < ejection_fraction <= 70:
        return "Normal"
    else:
        return "Unknown"

def prepare_data(data_frame, train_set=True):
    # create new feature
    data_frame["age_group"] = data_frame.age.apply(create_age_groups)
    data_frame["c_p"] = data_frame.creatinine_phosphokinase.apply(create_creatine_phosphokinase)
    data_frame["e_f"] = data_frame.ejection_fraction.apply(create_ejection_fraction)
    

    
    # drop features that we are not going to use
    data_frame.drop(["age","creatinine_phosphokinase", "platelets", "serum_creatinine", "time", "serum_sodium", "ejection_fraction"], axis=1, inplace=True)
    
    # rename column "sex" to "gender" and column "creatinine_posphate" to "creatine_phospahate"
    data_frame.rename({"sex": "gender"}, axis=1, inplace=True)
    data_frame.rename({"creatinine_phosphokinase": "creatine_phosphokinase"}, axis=1, inplace=True)
    data_frame.rename({"age_group": "age"}, axis=1, inplace=True)
    data_frame.rename({"c_p": "creatine_phosphokinase"}, axis=1, inplace=True)
    data_frame.rename({"e_f": "ejection_fraction"}, axis=1, inplace=True)
    
    
    # rearange order of columns
    if train_set:
        data_frame = data_frame[["age", "anaemia", "creatine_phosphokinase", "diabetes", "ejection_fraction", "high_blood_pressure", "gender", "smoking", "DEATH_EVENT"]]
    else:
        data_frame = data_frame[["age", "anaemia", "creatine_phosphokinase", "diabetes", "ejection_fraction", "high_blood_pressure", "gender", "smoking"]]
    
    # replace strings with values
    data_frame.age.replace({"Young": 0, "Middle": 1, "Old": 2, "Unknown": 3}, inplace=True)
    data_frame.creatine_phosphokinase.replace({"Normal": 0, "High": 1, "Very high": 2, "Unknown": 3}, inplace=True)
    data_frame.ejection_fraction.replace({"Very_low": 0, "low": 1, "Normal": 2, "Unknown": 3}, inplace=True)

    return data_frame

In [87]:
# Loading the data
data = pd.read_csv('heart_failure_clinical_records_dataset.csv')

# update data frame
data = prepare_data(data)

# top 5 data points
data.head()

/home/amatullah/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,age,anaemia,creatine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,gender,smoking,DEATH_EVENT
0,2,0,1,0,0,1,1,0,1
1,1,0,2,0,0,0,1,0,1
2,2,0,0,0,0,0,1,1,1
3,0,1,0,0,0,0,1,0,1
4,2,1,0,1,0,0,0,0,1

# Splitting into training, validation and testing data